.cart-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cart-container__width{
    width: 70%!important;
    height: 350px!important;
    position: relative;
}
.delete-btn{
    
    position: absolute;
    font-size: 27px;
    right: 18px;
    bottom: 5px;
}
.delete-btn:hover{
    color: red;
    cursor: pointer;
}

.tanxa{
    position: fixed;
    right: 28px;
    top:50%;
    font-size: 12px;
}